<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" [routerLink]="['']">Пътешественик</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['']">Начало <span class="sr-only">(current)</span></a></li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/places']">Дестинации</a></li>
                <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li routerLinkActive="active" *ngIf="!currentUser"><a [routerLink]="['/login']">Вход</a></li>
                <li routerLinkActive="active" *ngIf="!currentUser"><a [routerLink]="['/register']">Регистрация</a></li>
                <li *ngIf="currentUser"><a [routerLink]="['/auth/profile']">Здравей, {{ currentUser?.firstName }}</a></li>
                <li *ngIf="currentUser"><a href="" (click)="logout()">Изход</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input class="form-control" #query placeholder="Намери дестинация" type="text">
                </div>
                <a type="button" class="btn btn-default" (click)="search(query.value)" data-target="#modal">Търси</a>
            </form>
        </div>
    </div>
</nav>
<ng-template #searchModal>
    <div class="modal" id="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <p *ngIf="!foundPlaces">Няма намерени резултати!</p>
                    <div class="list-group">
                        <a [routerLink]="['/places', result.$key]" class="list-group-item" *ngFor="let result of foundPlaces">
                            <h4 class="list-group-item-heading">{{ result.heading }}</h4>
                            <p class="list-group-item-text">{{ result.bodyText }}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!-- <section *ngIf="foundPlaces" class="row">
    <div class="col-sm-3 pull-left" *ngFor="let place of foundPlaces">
        <app-place-thumbnail [heading]="place.heading" [imageUrl]="place.thumbUrl" [routerLink]="['/places', place.$key]"></app-place-thumbnail>
    </div>
</section> -->
