.places-container {
  position: relative;
}

.progress-container {
  display: flex;
  justify-content: center;
  margin-top: 10em;
}

.progress {
  height: 2em;
  width: 40%;

  .progress-bar {
    width: 100%;
  }
}
