<form [formGroup]="filterForm" class="form-horizontal" novalidate>
    <section class="col-sm-12">
        <div class="form-group col-sm-6">
            <label for="selectCategory" class="col-lg-6 control-label">Филтрирай по категория:</label>
            <div class="col-lg-6">
                <select class="form-control" id="selectCategory" (change)="getSelectedCategory($event)">
                    <option value="" selected>Всички</option>
                    <option value="{{ category.name }}" *ngFor="let category of categories|async">{{ category.name }}</option>
                </select>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label for="selectOrder" class="col-lg-6 control-label">Подреди по:</label>
            <div class="col-lg-6">
                <select class="form-control" id="selectOrder" (change)="getSelectedOrder($event)">
                    <option value="all" selected>Без подредба</option>
                    <option value="rating">Оценка</option>
                    <option value="heading">Име</option>
                </select>
            </div>
        </div>
    </section>
</form>
<div class="row">
    <div class="col-sm-3 pull-left" *ngFor="let place of visiblePlaces">
        <app-place-thumbnail [heading]="place.heading" [imageUrl]="place.thumbUrl" [routerLink]="['/places', place.id]"></app-place-thumbnail>
    </div>
</div>
