@import '../../../styles.scss';

.panel {
    box-shadow: none;
    margin-bottom: 20px;
}

.panel-body {
    width: 100%;
    height: 180px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.panel-heading {
    @include overflow-ellipsis;
}
