<ng-container *ngIf="currentUser; else nouser">
    <h3 class="col-sm-offset-1">Профилът на {{ currentUser.firstName + ' ' + currentUser.lastName}}</h3>
    <section class="row margin-top-40">
        <section class="col-sm-2">
            <img class="img-responsive" src="{{ currentUser.photoURL }}" alt="" width="100%">
        </section>
        <section class="col-sm-10">
            <div class="row">
                <div class="col-xs-6 col-lg-2 text-right"><strong>Потребителско име</strong></div>
                <div class="col-lg-5">{{ currentUser.username }}</div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-lg-2 text-right"><strong>Име</strong></div>
                <div class="col-lg-5">{{ currentUser.firstName }}</div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-lg-2 text-right"><strong>Фамилия</strong></div>
                <div class="col-lg-5">{{ currentUser.lastName }}</div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-lg-2 text-right"><strong>e-mail</strong></div>
                <div class="col-lg-5">{{ currentUser.email }}</div>
            </div>
            <div class="row margin-top-40">
                <div class="col-lg-offset-2">
                    <a [routerLink]="[createPlaceRotue]" class="btn btn-primary btn-md">Добави твое място</a>
                </div>
            </div>
        </section>
    </section>
</ng-container>

<ng-template #nouser>No user</ng-template>
